<div class="card" style="margin-bottom: 1rem;">
    <div class="card__title">
        <% if (titleLinkTo) { %>
            <a href="<%= titleLinkTo %> "><%= title %></a>
        <% } else { %>
            <%= title %>
        <% } %>
         
        <% if (deleteLink) { %>
            <form action="<%= deleteLink %>" method="post" style="display: inline;">
                <button type="submit">x</button>
            </form>
        <% } %>

    <div class="card__content">
        <%= content %> 
    </div>
</div>