<div class="form-field" style="margin-bottom: 1rem;">
    <div>
        <label for="<%= name %>"><%= label %></label>
    </div>

    <div>
        <input
            type="<%= type %>"
            value="<%= value %>"
            name="<%= name %>"
            required="<%- required %> "
        />
    </div>
</div>